.form-create-product{
  margin-top: 6px;
  background-color: rgb(255, 255, 255);
  width: 60vw;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 40px;


}

.create-product-inputs {
  padding-top: 20px;
  padding-bottom: 18px;
  width: 100%;
  display: flex;
  flex-direction: column;
}
